.second-navbar{
    position: fixed;
    width: 100%;
    top: 60px;
    left: 0;
    height: 60px;
    background-color: #5e52a2;
    color: #fff;
    z-index: 25;
    line-height: 60px;
    font-weight: 500;
}

.second-nav{
    line-height: 60px;
    font-weight: 500;
    color:white;
    font-size: 16px;
    padding:0 20px;
}

.dasboard-content{
    width: 100%;
    margin-top: 120px;    
    padding: 10px 0px;
    background-color: #E0E0E0;
    height: calc(100vh - 120px);
}

.image-dashboard{
    width:100%;
    height: 70vh;
}
/* 
.round-image {
    border-radius: 50%;
    padding: 4px;
    margin: 25% 25% 25% 50%;
    width: 120px;
    border: 3px solid orange;
} */

.description-user {
    display: grid;
    padding: 50px 15% 50px 15%;
    font-size: 18px;
    -webkit-box-align: center;
    align-items: center;
    color: #fff !important;
}


@media only screen and (max-width: 768px) {
    .round-image {
        margin: 5% 25% 5% 35%;
    }
    .description-user {
        padding-left: 15%;
        margin-bottom: 65px;
        font-size: 14px;
    }
}

.carousel-main {
    border-bottom: 2px solid grey;
}

::ng-deep .mat-card-image {
    padding: 25px;
}

.feedback-desc {
    background-color: #F5F5F5;
}

.title {
    margin-left: 35px;
    font-size: 22px;
    font-weight: 600;
}

.dashboard-plans {
    margin-top: 20px;
    margin-bottom: 20px;
}

.feedback-title {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: 600;
    margin: 20px auto;
}

.feedbacks {
    background-color: #e8e8e8;
    padding: 20px;
}
