<div class="modal-header">
  <h4 class="modal-title">{{popupData.header}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{popupData.message}}
</div>
<div class="modal-footer">
  <button *ngIf='okFlag' type="button" class="btn btn-outline-dark" (click)="onCloseModal('ok')">Ok</button>
  <button *ngIf='yesNoFlag' type="button" class="btn btn-outline-dark" (click)="onCloseModal('yes')">Yes</button>
  <button *ngIf='yesNoFlag' type="button" class="btn btn-outline-dark" (click)="onCloseModal('no')">No</button>
</div>
