
.modal-header .close {
    margin: 5px;
    padding: 5px;
}

.modal-header{
    padding:0px;
}

.modal-title{
    margin:5px 10px;
}

.label-register{
    width: auto;
}

.row{
    flex-wrap: unset;
}

.label-input{
    width: auto;
}

.invalid-feedback {
    padding-right: 12px;
    display: block;
}
