<section id="hero" class="shadow section-hero">
	<div class="row hero full-width">
        <div class="hero__overlay"></div>
        <video playsinline="" autoplay="" muted="" loop="" width="100%">
            <source src="https://media-publications.bcg.com/dotbcg/TimeLapseCitie-5mbs.mp4" type="video/mp4">
        </video>
        <div class="hero-content">
            <div class="hero-content-Child">
                <div class="appTitle">Financial Fiesta</div> 
                <div class="signInBtn">
                    <button type="button" class="btn btn-primary btn-login home-btn" (click)="openLogin()">
                        Login
                    </button>
                    <button type="button" class="btn btn-danger home-btn" (click)="openRegister()">
                        Sign Up
                    </button>                
                </div>
            </div>
        </div>
    </div>
</section>
<section id="planner" class="section-2">
    <div class="container-planning">
    <div class="row">
    <div class="col-sm-12 shadow-bottom">
        <div class="heading"> We Do Your Complete <span class="bold-text-2">
            FINANCIAL PLANNING
        </span>
        </div>
     <div class="row ImgDiv">
           <div class="col-4 align-center childImgDiv bottom">
              <div class="content-ImgDiv">
                 <p class="heading-6">Doing the Best</p>
                 <p class="heading-7">Investment</p>
                 <img src="../../assets/images/investment.png" alt="Investments growing over time like a plant grows from a seed" class="recommendsimage">            
              </div>
           </div>
           <div class="col-4 align-center childImgDiv bottom">
              <div class="content-ImgDiv">
                 <p class="heading-6">Achieving Financial</p>
                 <p class="heading-7">Goals</p>
                 <img src="../../assets/images/investment.png" alt="Investments growing over time like a plant grows from a seed" class="recommendsimage">            
              </div>
           </div>
           <div class="col-4 align-center childImgDiv bottom">
              <div class="content-ImgDiv">
                 <p class="heading-6">Monitoring</p>
                 <p class="heading-7">Portfolio</p>
                 <img src="../../assets/images/investment.png" alt="Investments growing over time like a plant grows from a seed" class="recommendsimage">            
              </div>
           </div>
        </div>
        <div class="row ImgDiv">
           <div class="col-4 align-center childImgDiv top">
              <div class="content-ImgDiv">
                 <p class="heading-6">Availing Suitable</p>
                 <p class="heading-7">Loans</p>
                 <img src="../../assets/images/investment.png" alt="Investments growing over time like a plant grows from a seed" class="recommendsimage">            
              </div>
           </div>
           <div class="col-4 align-center childImgDiv top">
              <div class="content-ImgDiv">
                 <p class="heading-6">Getting Sufficient</p>
                 <p class="heading-7">Insurances</p>
                 <img src="../../assets/images/investment.png" alt="Investments growing over time like a plant grows from a seed" class="recommendsimage">            
              </div>
           </div>
           <div class="col-4 align-center childImgDiv top">
              <div class="content-ImgDiv">
                 <p class="heading-6">Optimally</p>
                 <p class="heading-7">Saving Tax</p>
                 <img src="../../assets/images/investment.png" alt="Investments growing over time like a plant grows from a seed" class="recommendsimage">            
              </div>
           </div>
     </div>
     </div>
     </div>
    </div>
</section>

<section id="no-commision" class="section-3">
    <div class="container-5 w-container">
        <div class="div-block-16">
           <img src="https://uploads-ssl.webflow.com/5787ba871c0e63b1517f1319/5b992bdca2a5898121f2b8a0_No%20Commission%20white%202.png" alt="Highlighted that 7prosper doesn't make any hidden commissions on client's investments" class="big-tick">
           <p class="step-para centre white">Most importantly, we don't make any commission from companies by selling their schemes. We also don't cut commissions from your investment amount. Thus, all of your money goes into the market for <strong><em>best returns</em></strong>.</p>
        </div>
        <a href="https://www.7prosper.com/post" target="_blank" class="link-explain-plan white ag-hide">Know how you lose lakhs of rupees in long run due to commissions</a>
     </div>
</section>
<section class="section-earn earn-money active" tabindex="0">
    <header>
       <div>
          <h2>
             Earn money
          </h2>
          <p>
             Get paid for your hard work. Google AdSense can automatically display relevant targeted ads on your blog so that you can earn income by posting about your passion.
          </p>
       </div>
    </header>
    <div class="background">
       <img src="/assets/images/earn-money.png" class="background--layer device" alt="Device" style="width: 45%;">
       <img src="/assets/images/card.png" class="background--layer card" alt="Card">
       <img src="/assets/images/calculator.png" class="background--layer calculator" alt="Calculator">
       <img src="/assets/images/cents.png" class="background--layer cent" alt="Cent">
    </div>
 </section>
<section id="quotes" class="section-quote">
    <div class="qotd-section fs-content animated-borders">
        <div class="animated-border__horizontal border-top-1"></div>
        <div class="animated-border__horizontal border-top-2"></div>
        <div class="animated-border__vertical border-left"></div>
        <div class="animated-border__vertical border-right"></div>
        <div class="animated-border__horizontal border-bottom-1"></div>
        <div class="animated-border__horizontal border-bottom-2"></div>
        <span class="qotd-section__label">QUOTE OF THE DAY</span>
        <p class="qotd-section__description">“In a family business structure, sometimes what is needed is a sense of discipline rather than creativity.”</p>
        <p class="qotd-section__author"><span class="qotd-section__byline-author">Ashwin Sanghi</span><span class="qotd-section__byline-title">, Writer</span></p>
     </div>
</section>
<header class="p-header" style="background-image: url(https://www.nng.com/wp-content/uploads/2015/07/shutterstock_270632201.jpg)">
    <div class="wrapper">
        <div class="p-header__content">
            <h1 class="p-header__title">Our Partners</h1>
            <span class="p-header__separator"></span>
            <p class="p-header__lead">Since 2004, we have developed navigation and infotainment solutions for more than 150 partners in almost 200 countries. Through our longterm partnerships, our iGO Navigation Software is currently installed on more than 60 million devices worldwide in over 30 global car brands.</p>
        </div>
    </div>
    <ul id="step-navigation" class="n-dotted" style="margin-top: auto; top: 0px; bottom: 0px;"></ul>
    <span class="p-header__bottom"></span>    
</header>
<main>
    <div class="wrapper">
        <h2 class="title--separator">These are just a few of our partners who trust us and our solutions</h2>
    </div>
    <section class="partners-list">
        <div class="wrapper">
            <div class="grid">
                <div class="grid__item desk--one-sixth lap--one-quarter palm--one-whole">
                    <figure class="partners-list__item">
                        <span title="Dacia"><img width="300" height="300" src="https://www.nng.com/wp-content/uploads/2015/10/dacia.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://www.nng.com/wp-content/uploads/2015/10/dacia.jpg 300w, https://www.nng.com/wp-content/uploads/2015/10/dacia-150x150.jpg 150w, https://www.nng.com/wp-content/uploads/2015/10/dacia-220x220.jpg 220w" sizes="(max-width: 300px) 100vw, 300px"></span>
                    </figure>
                </div>
                <div class="grid__item desk--one-sixth lap--one-quarter palm--one-whole">
                    <figure class="partners-list__item">
                        <span title="Fujitsu Ten"><img width="300" height="300" src="https://www.nng.com/wp-content/uploads/2015/09/fujitsuten.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://www.nng.com/wp-content/uploads/2015/09/fujitsuten.png 300w, https://www.nng.com/wp-content/uploads/2015/09/fujitsuten-150x150.png 150w, https://www.nng.com/wp-content/uploads/2015/09/fujitsuten-220x220.png 220w" sizes="(max-width: 300px) 100vw, 300px"></span>
                    </figure>
                </div>
                <div class="grid__item desk--one-sixth lap--one-quarter palm--one-whole">
                    <figure class="partners-list__item">
                        <span title="Harley Davidson"><img width="300" height="300" src="https://www.nng.com/wp-content/uploads/2015/10/Harley.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://www.nng.com/wp-content/uploads/2015/10/Harley.jpg 300w, https://www.nng.com/wp-content/uploads/2015/10/Harley-150x150.jpg 150w, https://www.nng.com/wp-content/uploads/2015/10/Harley-220x220.jpg 220w" sizes="(max-width: 300px) 100vw, 300px"></span>
                    </figure>
                </div>
                <div class="grid__item desk--one-sixth lap--one-quarter palm--one-whole">
                    <figure class="partners-list__item">
                        <span title="Harman/Becker Automotive Systems"><img width="300" height="300" src="https://www.nng.com/wp-content/uploads/2015/09/becker.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://www.nng.com/wp-content/uploads/2015/09/becker.png 300w, https://www.nng.com/wp-content/uploads/2015/09/becker-150x150.png 150w, https://www.nng.com/wp-content/uploads/2015/09/becker-220x220.png 220w" sizes="(max-width: 300px) 100vw, 300px"></span>
                    </figure>
                </div>
                <div class="grid__item desk--one-sixth lap--one-quarter palm--one-whole">
                    <figure class="partners-list__item">
                        <span title="Honda"><img width="300" height="300" src="https://www.nng.com/wp-content/uploads/2015/10/Honda.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://www.nng.com/wp-content/uploads/2015/10/Honda.jpg 300w, https://www.nng.com/wp-content/uploads/2015/10/Honda-150x150.jpg 150w, https://www.nng.com/wp-content/uploads/2015/10/Honda-220x220.jpg 220w" sizes="(max-width: 300px) 100vw, 300px"></span>
                    </figure>
                </div>
                <div class="grid__item desk--one-sixth lap--one-quarter palm--one-whole">
                    <figure class="partners-list__item">
                        <span title="Hyundai"><img width="300" height="300" src="https://www.nng.com/wp-content/uploads/2015/10/hyundai.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://www.nng.com/wp-content/uploads/2015/10/hyundai.jpg 300w, https://www.nng.com/wp-content/uploads/2015/10/hyundai-150x150.jpg 150w, https://www.nng.com/wp-content/uploads/2015/10/hyundai-220x220.jpg 220w" sizes="(max-width: 300px) 100vw, 300px"></span>
                    </figure>
                </div>
              </div>
        </div>
    </section>
</main>
