<div class="row term-plans">
    <div class="col-sm-6 col-md-4 item-card">
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>My Term Plan 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small.
        </p>
        </mat-card-content>
        <mat-card-actions>
            <img src="/assets/images/right-tick.png" alt="" class="status-plan"> 
            <p class="font-set">active</p>    
        </mat-card-actions>
    </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 item-card">
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>My Term Plan 2</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small.
        </p>
        </mat-card-content>
        <mat-card-actions>
            <img src="/assets/images/right-tick.png" alt="" class="status-plan"> 
            <p class="font-set">active</p>  
        </mat-card-actions>
    </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 item-card">
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>My Term Plan 3</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small.
        </p>
        </mat-card-content>
        <mat-card-actions>
            <img src="/assets/images/cross-tick.jpg" alt="" class="status-plan"> 
            <p class="font-set">In active</p>  
        </mat-card-actions>
    </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 item-card">
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>My Term Plan 4</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small.
        </p>
        </mat-card-content>
        <mat-card-actions>
            <img src="/assets/images/right-tick.png" alt="" class="status-plan"> 
            <p class="font-set">active</p>  
        </mat-card-actions>
    </mat-card>
</div>
<div class="col-sm-6 col-md-4 item-card">
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>My Term Plan 5</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small.
        </p>
        </mat-card-content>
        <mat-card-actions>
            <img src="/assets/images/cross-tick.jpg" alt="" class="status-plan"> 
            <p class="font-set">In active</p>  
        </mat-card-actions>
    </mat-card>
</div>
<div class="col-sm-6 col-md-4 item-card">
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>My Term Plan 6</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small.
        </p>
        </mat-card-content>
        <mat-card-actions>
            <img src="/assets/images/cross-tick.jpg" alt="" class="status-plan"> 
            <p class="font-set">In active</p>  
        </mat-card-actions>
    </mat-card>
</div>
</div>