  .term-plans {
      padding: 20px;
  }

  .example-card {
    max-width: 400px;
    border-left: 6px solid red;
  }
  
 .row {
    margin: 0;
 }

 .item-card {
    display: flex;
    /* flex-direction: column; */
    /* margin: auto; */
    /* padding: 0; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
 }

 .font-set {
     font-weight: 600;
     font-size: 12px;
     margin-top: 4px;
     padding-right: 5px;
 }

 .status-plan {
    width: 20px;
    height: 25px;
 }

 .termplan-body {
   margin: 10px 0px 5px 0px;
 }

 ::ng-deep .mat-card {
      min-width: 300px;
}

.card-bottom {
   display: flex;
   justify-content: center;
}